.left-bar div {
  padding-top: 10px;
  padding-right: 10px;
  padding-bottom: 10px;
  padding-left: 20px;
}
.left-bar div mat-icon {
  margin-left: 2px;
}
.left-bar-2 div {
  padding-top: 10px;
  padding-right: 10px;
  padding-bottom: 10px;
  padding-left: 0px;
}
